body{
    background-color: bisque;
    background-size:200%;
    background-repeat: no-repeat;
}
html, body{
    height:160%;
    
}
.titluDIV{
    position:relative;
    text-align: center;
}
#h1{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    z-index:6;
}
#h1 a{
    display:inline-block;
}
a{
    color:white;
    text-decoration: none;
}
.image-container{
    display: block;
    box-sizing: border-box;
}

.soup{
    border-radius:18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    transition: transform 0.5s ease;
    margin-left:277px;
}

.salmon {
    border-radius: 18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    transition: transform 0.5s ease;
    margin-top:300px;
    margin-left:138px;
    float:center;
}

.curry{
    border-radius:18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    margin-left:148px;
    transition: transform 0.5s ease;
}

.soup:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}
.salmon:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}
.curry:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}

.soupp{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    margin-top:-490px;
    margin-left:310px;
    position:absolute;
}

.salmonp{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top:-490px;
    margin-left:795px;
}

.curryp{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top:-490px;
    margin-left:1299px;
}

.titleSoup{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
    position:absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:6;
    text-align: center;
    display:block;
    transform: translateY(-45%);
}

.description{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin: auto;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    display:block;
    transform: translateY(-90%);
    text-align: center;
    padding:50px;
    z-index:6;
}

.imageSoup {
    border-radius: 18px;
    border-color: gray;
    padding: 5px;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.5s ease;
    z-index: 6;
    text-align: center;
    display: block;
  }

.DTitle{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
    position:absolute;
    margin:auto;
    top:88%;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    display:block;
    z-index:6;
    transform: translateY(-88%);
}
.bkg{
    background-color: gray;
    opacity:0.2;
    width:1000px;
    height: 260%;
    z-index:5;
    margin-top:-10px;
    position:absolute;
    display:block;
    top:0;
    right:0;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
.LTitle{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-122%);
    top:122%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
}
.listSoup{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-130%);
    top:130%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    list-style-position: inside;
}

.directSoup{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-185%);
    top:185%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
}

.stepsSoup{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-200%);
    top:200%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    list-style-position: inside;
}
#butonscrollsoup{
    display: block; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

.listSalmon{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-130%);
    top:130%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    list-style-position: inside;
}

.directSalmon{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-185%);
    top:185%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
}
.stepsSalmon{
    position:absolute;
    display:block;
    z-index:6;
    text-align: center;
    transform: translateY(-200%);
    top:200%;
    bottom:0;
    left:0;
    right:0;
    color:darkred;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    list-style-position: inside;
}

.descriptionSalmon{
    color:darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin: auto;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    display:block;
    transform: translateY(-90%);
    text-align: center;
    padding:50px;
    z-index:6;
}

.imageSalmon {
    border-radius: 18px;
    border-color: gray;
    padding: 5px;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.5s ease;
    z-index: 6;
    text-align: center;
    display: block;
  }