body{
   /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 200%);
    /*background-color:red;*/
    background-size:200%;
    background-repeat: no-repeat;
    background-image:url("Cloudy.svg")
}
html, body{
    height:200%;
    
}
.titluDIV{
    position:relative;
    text-align: center;
}
#h1{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    z-index:6;
}
#h1 a{
    display:inline-block;
}
a{
    color:white;
    text-decoration: none;
}
.image-container{
    display: block;
    box-sizing: border-box;
}

.soup{
    border-radius:18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    transition: transform 0.5s ease;
    margin-left:277px;
}

.salmon {
    border-radius: 18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    transition: transform 0.5s ease;
    margin-top:300px;
    margin-left:138px;
    float:center;
}

.curry{
    border-radius:18px;
    border-color: gray;
    width: 350px;
    height: 400px;
    margin-left:148px;
    transition: transform 0.5s ease;
}

.soup:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}
.salmon:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}
.curry:hover{
    transform: scale(1.2);
    animation-delay:0.5ms;
}

.soupp{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    margin-top:-490px;
    margin-left:310px;
    position:absolute;
    text-align: center;
}

.salmonp{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top:-490px;
    margin-left:795px;
}

.curryp{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top:-490px;
    margin-left:1299px;
}

.titleSoup{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top:150px;
    margin-left:815px;
    border-bottom-style: solid;
    border-bottom-width:3px;
    border-bottom-color:bisque;
    z-index:6;
    float:center;
}

.description{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    position:absolute;
    margin-top: 780px;
    margin-left: 680px;
    border-style:solid;
    border-width:5px;
    border-color:darkslateblue;
    border-radius:10px;
    padding:50px;
    z-index:6;
}

.imageSoup{
    border-radius:18px;
    border-color: gray;
    padding:5px;
    width: 350px;
    height: 400px;
    position:absolute;
    margin-top:220px;
    margin-left:763px;
    transition: transform 0.5s ease;
    z-index:6;
    
}

.DTitle{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
    position:absolute;
    margin-top: 700px;
    margin-left: 790px;
    z-index:6;
}
.bkg{
    background-color: gray;
    opacity:0.2;
    width:700px;
    height: 200%;
    z-index:5;
    margin-top:-10px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}